// Advertisement in main posts sidebar

.main_posts_sidebar_adv_wrp {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.main_posts_sidebar_adv {
    display: block;
    width: 300px;
    height: 300px;
}

// Advertisement in main posts (after content)

.main_posts_adv_wrp {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 27px;
}

.main_posts_adv_desktop, .tops_reviews_adv_desktop,
.main_posts_adv_mobile, .tops_reviews_adv_mobile {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

// Advertisement in tops and review (after content) 

.tops_reviews_adv_wrp {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 27px;
}

// Advertisementin single page

.single_adv_wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 36px;
}

.single_adv_desktop {
    display: block;
    width: 750px;
    height: 300px;
}

.single_adv_mobile {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}