/// Main posts cards animation (main page)
/// @content: Main page - Cards

.cards_animation {
    animation: cards_anim linear 0.5s;
}

@keyframes cards_anim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
