.archive_wrapper {
    display: grid;
    grid-template-columns: 1fr 364px;
}

.archive_posts {
    display: block;
}

.archive_sidebar {
    display: block;
}

.archive_title {
    display: block;
    margin-left: 22px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: var(--archive-title-color);
}

.archive_description {
    display: block;
    margin-top: 5px;
    margin-left: 22px;
    margin-bottom: 20px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: var(--archive-description-color);
}

.archive_search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 22px;
}

.archive_search_form {
    display: inline-flex;
    justify-content: space-between;
    background: var(--archive-search-form-background);
    width: 100%;
    height: 32px;
    border-radius: 16px;
    border: 1px solid var(--archive-search-form-border-color);
}

.archive_search_input {
    outline: none;
    background: none;
    border: none;
    color: var(--archive-search-input-color);
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
    width: 100%;
}

.archive_search_button {
    outline: none;
    background: none;
    border: none;
    padding-right: 15px;
    margin-top: 1px;
}

.archive_posts_wrp {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.archive_no_posts_title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 22px;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: var(--archive-search-no-posts-title-color);
}

.archive_author_title {
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-posts-title-color);
    margin: 12px 0 20px 18px;
}

.archive_post_wrp {
    display: inline-flex;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 1000px;
    height: 260px;
    background-color: var(--archive-post-wrp-color);
}

.archive_post_img {
    width: 340px;
    height: 220px;
    object-fit: cover;
    box-sizing: border-box;
    border: 1px solid var(--archive-post-img-border-color);
    border-radius: 5px;
}

.archive_post_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
}

.archive_post_title_wrp {
    & a {
        text-decoration: none;
    }
    & a:hover > h3 {
        color: var(--archive-post-title-wrp-hover-color);
    }
}

.archive_post_title {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    color: var(--archive-post-title-color);
}

.archive_post_author {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--archive-post-author-color);
}

.archive_author_nickname {
    text-decoration: none;
    color: var(--archive-author-nickname-color);
}

.archive_post_description {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 21px;
    color: var(--archive-post-description-color);
}

.archive_post_date_comment_wrp {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
}

.archive_post_date {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 103.19%;
    color: var(--archive-post-date-color);
}

.archive_post_comment_count {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 103.19%;
    color: var(--archive-post-comment-count-color);
    text-decoration: none;
    position: relative;
    &:before {
        content: " ";
        display: inline-block;
        background-image: url('../img/icons/comments.svg');
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: 21px;
        bottom: 1px;
        width: 19px;
        height: 19px;
    }
    &:hover {
        color: var(--archive-post-comment-count-hover-color);
    }
}

// Author page

.author_info_section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--archive-author-info-background-color);
    border: 1px solid var(--archive-author-info-border-color);
    border-radius: 10px;
    margin: 41px 10px 22px 24px;
    padding: 45px 34px 45px 59px;
}

.author_info_avatar {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.author_page_avatar {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.author_info_wrp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
    min-height: 160px;
}

.author_page_nickname {
    display: block;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 43px;
    color: var(--archive-author-page-nickname-color);
}

.author_page_description {
    display: block;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 113.69%;
    color: var(--archive-author-page-description-color);
}

.author_socials_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
    & a {
        margin-right: 15px;
    }
}