/** 
 * Color scheme (light and dark)
 */

:root {

    /**
     * adv.scss
     */

    --sidebar-adv-color: rgba(255, 0, 0, 0.2);
    --sidebar-posts-adv-color: rgba(255, 0, 0, 0.2);
    --sidebar-review-adv-color: rgba(255, 0, 0, 0.2);
    --single-adv-background: rgba(255, 0, 0, 0.2);

    /** 
     * archive.scss
     */

    --archive-title-color: #fff;
    --archive-description-color: #C7C7C7;
    --archive-post-wrp-color: #292424;
    --archive-post-img-border-color: #D3355B;
    --archive-post-title-wrp-hover-color: #D3355B;
    --archive-post-title-color: #fff;
    --archive-post-author-color: #fff;
    --archive-author-nickname-color: #D33558;
    --archive-post-description-color: #fff;
    --archive-post-date-color: #D7FBE5;
    --archive-post-comment-count-color: #D7FBE5;
    --archive-post-comment-count-hover-color: #D33558;
    --archive-author-info-background-color: #272727;
    --archive-author-info-border-color: #2D2D2D;
    --archive-author-page-nickname-color: #fff;
    --archive-author-page-description-color: #BAB5B5;

    /**
     * edit-profile-page.scss
     */

    --profile-form-background-color: #272727;
    --profile-form-text-color: #fff;
    --profile-form-border-color: #2D2D2D;
    --profile-section-title-color: #fff;
    --profile-label-color: #fff;
    --profile-input-background-color: #272727;
    --profile-input-border-color: #D3355B;
    --profile-input-text-color: #666666;
    --profile-submit-button-background-color: #D3355B;
    --profile-submit-button-text-color: #fff;
    --profile-page-avatar-wrp-border-color: #D3355B;
    --profile-page-nickname-color: #fff;
    --profile-change-text-color: #D3355B;
    --profile-change-text-hover-color: #fff;

    --wp-user-profile-background-color: #D3355B;
    --wp-user-profile-text-color: #fff;
    --wp-user-profile-hover-background-color: #b42e4d;
    --wp-user-profile-hover-border-color: #b42e4d;
    --wp-user-regular-text-background-color: #272727;
    --wp-user-regular-text-border-color: #D3355B;
    --wp-user-regular-text-color: #666666;
    --wp-user-regular-text-focus-border-color: #D3355B;
    --wp-user-input-text-profile-avatar-background-color: #D3355B;
    --wp-user-input-text-profile-avatar-text-color: #fff;

    --custom-pages-messages-color: #D0DDB8;

    /** 
     * footer.scss
     */

    --footer-background-color: #1B1B1B;
    --container-footer-1-border-color: #fff;
    --rars-border-color: #fff;
    --rars-text-color: #fff;
    --copyright-text-color: #fff;

    /**
     * header.scss
     */

    --header-background-color: #1B1B1B;
    --container-header-1-border-color: #fff;
    --logo-link-text-color: #fff;
    --login-info-text-color: #fff;
    --menu-item-a-text-color: #fff;
    --sub-menu-background-color: #1B1B1B;
    --sub-menu-border-color: #fff;
    --menu-item-has-children-hover-text-color: #123;
    --menu-item-a-hover: #D3355B;
    --profile-nichname-color: #fff;
    --profile-menu-link-text-color: #fff;
    --profile-menu-link-background-color: #262626;
    --profile-menu-link-first-child-border-color: #D3355B;
    --profile-menu-link-hover-text-color: #D3355B;
    --profile-menu-link-hover-background-color: #161515;

    /**
     * main-hot.scss
     */

    --main-hot-background-color: #000;
    --hot-title-color: #D3355B;
    --hot-tag-text-color: #fff;
    --hot-tag-hover-text-color: #D3355B;

    /**
     * main-post.scss
     */

    --main-posts-title-color: #fff;
    --main-posts-link-hover-text-color: #D3355B;
    --main-post-title-color: #fff;
    --main-post-desc-color: #B3B3B3;
    --main-post-date: #fff;
    --main-post-comments-color: #fff;
    --main-post-gradient-first-color: rgba(34, 34, 34, 0);
    --main-post-gradient-second-color: #222222;
    --funnycoon-loadmore-gradient-first-color: #C2DFE3;
    --funnycoon-loadmore-gradient-second-color: #C2DFE3;
    --funnycoon-loadmore-gradient-hover-first-color: #D3355B;
    --funnycoon-loadmore-gradient-hover-second-color: #e44a6e;
    --funnycoon-loadmore-hover-text-color: #fff;
    --main-posts-sidebar-title-color: #fff;
    --mps-post-card-title-color: #fff;
    --mps-post-card-title-hover-color: #D3355B;
    --mps-post-card-desc-color: #B3B3B3;

    /** 
     * main-slider.scss
     */

    --slider-gradient-first-color: rgba(6,30,32,.2);
    --slider-gradient-second-color: #061e20;
    --slider-gradient-hover-first-color: rgba(0,0,0,.6);
    --slider-gradient-hover-second-color: #000;
    --slider-post-title-color: #fff;
    --slider-post-info-color: #D7FBE5;
    --slider-link-hover-color: #D3355B;
    --slider-post-category-background-color: #D3355B;
    --slider-post-category-text-color: #fff;
    --slider-post-category-hover-text-color: #420C14;
    
    /**
     * main.scss
     */

    --body-color: #180C1D;
    --main-wrapper: #1B1B1B;
    --body-webkit-shadow: rgba(0,0,0,0.3);
    --body-webkit-scrollbar-track: #1d1d1d;
    --body-webkit-scrollbar: #1d1d1d;
    --body-webkit-scrollbar-thumb-shadow: rgba(0,0,0,.3);
    --body-webkit-scrollbar-thumb: #555;

    /**
     * mobile-menu.scss
     */

    --mobile-menu-wrp-background-color: #fff;
    --mobile-menu-item-a-color: #000;
    --mobile-menu-sidebar-background-color: rgba(0,0,0,0.8);
    --mobile-menu-close-color: #fff;
    --mobile-menu-item-border-bottom-color: rgba(160, 160, 160, 0.5);
    --mobile-menu-item-a-color: #A0A0A0;
    --mobile-menu-social-border-color: rgba(160, 160, 160, 0.2);

    /**
     * navigation.scss
     */

    --navigation-text-color: #fff;
    --navigation-background-color: #222222;
    --navigation-hover-active-background-color: #383838;

    /**
     * page.scss 
     */

    --page-content-color: #fff;
    --page-title-color: #fff;
    --page-list-link-color: #D3355B;
    --page-link-color: #D3355B;

    /**
     * popups.scss
     */

    --popup-background-color: rgba(0, 0, 0, 0.8);
    --popup-content-background-color: #fff;
    --popup-content-text-color: #000;
    --popup-title-color: #000;
    --popup-subtitle-color: #000;
    --form-message-color: #ce0000;
    --form-message-border-color: #dfdfdf;
    --form-message-background-color: #fbfbfb;
    --error-color: #ce0000;
    --popup-input-background: #fff;
    --popup-input-border-color: #e0e0e0;
    --popup-input-placeholder-color: #928787;
    --buttons-background-color: #D3355B;
    --buttons-border-color: #D3355B;
    --buttons-text-color: #fff;
    --buttons-hover-background-color: #b42e4d;
    --buttons-hover-border-color: #b42e4d;
    --forget-password-link-color: #6C6868;
    --register-link-color: #D3355B;
    --register-link-forget-color: #D3355B;
    --login-link-color: #D3355B;

    /**
     * primary-post.scss
     */

    --primary-posts-background-color: #C2DFE3;
    --primary-posts-border-color: #1B1B1B;
    --pps-title-color: #fff;
    --pps-title-hover-color: #D3355B;
    --pps-img-border-color: #1B1B1B;
    --pps-gradient-first-color: rgba(0, 0, 0, 0);
    --pps-gradient-second-color: rgba(0, 0, 0, 0.8);
    --pps-category-background-color: #D3355B;
    --pps-category-border-color: #1B1B1B;
    --pps-category-text-color: #fff;
    --primary-posts-button-border-color: #4F4F4F;
    --primary-posts-button-text-color: #1B1B1B;
    --primary-posts-hover-gradient-first-color: rgb(142, 234, 247);
    --primary-posts-hover-gradient-second-color: rgba(194,223,227,1);

    /** 
     * simple-comment-editing.scss 
     */
    --sce-editing-link-color: #858585;
    --sce-separator-color: #464646;
    --sce-timer-color: #464646;

    /** 
     * single-page.scss
     */

    --single-preview-gradient-first-color: rgba(0, 0, 0, 0);
    --single-preview-gradient-second-color: #111111;
    --single-info-background-color: #111;
    --single-breadcrumbs-color: #C4C4C4;
    --single-breadcrumbs-a-color: #C4C4C4;
    --single-breadcrumbs-a-last-child-color: #fff;
    --single-post-title-color: #fff;
    --single-author-wrp-color: #fff;
    --single-author-a-color: #D3355B;
    --single-author-nickname-color: #D3355B;
    --single-post-content-color: #fff;
    --single-post-content-a-color: #D3355B;
    --single-post-content-ul-li-a-color: #D3355B;
    --single-post-content-wp-colum-a-color: #D3355B;
    --cat-item-a-color: #D3355B;
    --wp-block-table-border-color: #fff;
    --single-tag-title-color: #fff;
    --single-tag-a-color: #fff;
    --single-tag-a-hover-color: #D3355B;
    --prev-post-wrp-background: #292424;
    --prev-post-title-color: #fff;
    --prev-post-link-a-color: #fff;
    --prev-post-link-a-hover-color: #D3355B;
    --prev-next-post-figure-background: #D3355B;
    --next-post-wrp-background: #292424;
    --next-post-title-color: #fff;
    --next-post-link-a-color: #fff;
    --next-post-link-a-hover-color: #D3355B;
    --post-comments-title-color: #fff;
    --comment-author-fn-color: #D3355B;
    --comment-time-color: #fff;
    --comment-edit-link-color: #fff;
    --comment-text-p-color: #fff;
    --comment-awaiting-moderation-color: #FF0000;
    --comment-reply-a-color: #D3355B;
    --comment-hr-border-color: rgba(255, 255, 255, 0.2);
    --comment-reply-title-color: #fff;
    --cancel-comment-reply-link-color: #D3355B;
    --logged-in-as-a-color: #D3355B;
    --logged-in-as-span-color: #fff;
    --must-log-in-color: #818181;
    --must-log-in-link-color: #D3355B;
    --comment-form-comment-label-color: #fff;
    --comment-form-comment-label-span-color: #D3355B;
    --comment-form-comment-textarea-background-color: #232323;
    --comment-form-comment-textarea-border-color: #121212;
    --comment-form-comment-textarea-text-color: #656363;
    --comment-form-comment-textarea-hover-border-color: #121212;
    --submit-background: #D3355B;
    --submit-color: #fff;

    /** 
     * tops-reviews.scss
     */

    --title-color: #fff;
    --buttons-svg-border-color: #fff;
    --buttons-svg-background-color: #1B1B1B;
    --buttons-svg-hover-border-color: #D3355B;
    --buttons-svg-hover-background-color: #000;
    --buttons-svg-active-border-color: #D3355B;
    --buttons-svg-active-background-color: #D3355B;
    --reviews-slider-first-child-background-color: #000;
    --reviews-slide-gradient-first-color: rgba(0, 0, 0, 0);
    --reviews-slide-gradient-second-color: rgba(0, 0, 0, 0.8);
    --reviews-slide-title-color: #fff;
    --reviews-slide-time-comments-color: #D7FBE5;
    --reviews-slide-comments-color: #D7FBE5;
    --reviews-slide-title-hover-text-color: #D3355B;
    --reviews-slide-background-color: #000;
    --tops-slide-background-color: #000;
    --tops-slide-title-color: #fff;
    --tops-slide-title-hover-color: #D3355B;
    --tops-slide-time-comments-color: #D7FBE5;
    --tops-slide-gradient-first-color: rgba(0, 0, 0, 0);
    --tops-slide-gradient-secong-color: rgba(0, 0, 0, 0.8);
    --tops-posts-card-border-color: #3F3F3F;
    --tops-posts-card-title-color: #fff;
    --tops-posts-card-title-hover-color: #D3355B;
    --tops-posts-card-desc-color: #fff;
    --tops-posts-card-time-color: #D7FBE5;
    --tops-posts-card-comments-color: #D7FBE5;


}