.profile_edit_page_wrp {
    display: grid;
    grid-template-columns: 473px 930px;
    grid-template-rows: 1fr;
}

.profile_edit_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
}

.profile_form {
    display: flex;
    flex-direction: column;
    background-color: var(--profile-form-background-color);
    border-radius: 5px;
    padding-left: 39px;
    padding-top: 12px;
    padding-bottom: 37px;
    margin-bottom: 20px;
    width: 100%;
    color: var(--profile-form-text-color);
    border: 1px solid var(--profile-form-border-color);
}

.profile_section_title {
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: var(--profile-section-title-color);
}

.profile_user_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile_user_info_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.profile_label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--profile-label-color);
    margin-bottom: 7px;
}

.profile_input {
    display: block;
    width: 338px;
    padding: 12px;
    background-color: var(--profile-input-background-color);
    border: 1px solid var(--profile-input-border-color);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--profile-input-text-color);
}

.profile_submit_button {
    cursor: pointer;
    background: var(--profile-submit-button-background-color);
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;   
    text-transform: uppercase;
    color: var(--profile-submit-button-text-color);
    margin-top: 52px;
}

.profile_edit_sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 47px;
}

.profile_page_avatar_wrp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid var(--profile-page-avatar-wrp-border-color);
}

.profile_page_nickname {
    display: block;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: var(--profile-page-nickname-color);
    margin-top: 10px;;
}

.profile_page_avatar {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile_change_email_link, .profile_change_password_link {
    display: block;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    color: var(--profile-change-text-color);
    text-decoration: none;
    margin-top: 45px;
    &:hover {
        color: var(--profile-change-text-hover-color);
    }
}

.profile_change_password_link {
    margin-top: 0;
}

// Plugin fix

#wp_user_profile_avatar_remove, 
#wp_user_profile_avatar_update_profile,
#wp_user_profile_avatar_undo {
    display: block;
    cursor: pointer;
    background: var(--wp-user-profile-background-color);
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--wp-user-profile-text-color);
    margin-top: 5px;
    width: 300px;
    transition: .3s ease;
    &:hover {
        background: var(--wp-user-profile-hover-background-color);
        border: 1px solid var(--wp-user-profile-hover-border-color);
    }
}

.regular-text {
    display: block;
    width: 300px;
    padding: 12px;
    background-color: var(--wp-user-regular-text-background-color);
    border: 1px solid var(--wp-user-regular-text-border-color);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--wp-user-regular-text-color);
    &:focus {
        border: 1px solid var(--wp-user-regular-text-focus-border-color);
    }
}

.form-table p {
    font-family: "Roboto", sans-serif;
    margin: 5px 0 5px 0;
}

#wp_user_profile_avatar_preview {
    & img {
        margin-bottom: 5px;
    }
}

#wp_user_profile_avatar_thumbnail {
    & img {
        margin-bottom: 5px;
    }
}

.input-text.wp-user-profile-avatar-image {
    display: block;
    cursor: pointer;
    background: var(--wp-user-input-text-profile-avatar-background-color);
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: var(--wp-user-input-text-profile-avatar-text-color);
    margin-top: 5px;
    width: 300px;
}

// Error block

.custom_pages_messages {
    display: block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--custom-pages-messages-color);
    margin-top: 10px;
}