$JostFontPath: '../fonts/Jost';
$JostFontFamily: 'Jost';
$JostFontVersion: 3.7;

// Mixin
@mixin font-face-jost($fontFamily, $fileName, $fontWeight, $fontStyle, $fontPath: $JostFontPath) {
    @font-face {
        font-family: $fontFamily;
        font-display: swap;
        src: url('#{$fontPath}/#{$fileName}.eot');
        src: local('^'),
        url('#{$fontPath}/#{$fileName}.eot?#iefix') format('embedded-opentype'),
        url('#{$fontPath}/#{$fileName}.woff2?v=#{$JostFontVersion}') format('woff2'),
        url('#{$fontPath}/#{$fileName}.woff?v=#{$JostFontVersion}') format('woff'),
        url('#{$fontPath}/#{$fileName}.ttf?v=#{$JostFontVersion}') format('truetype');
        font-weight: $fontWeight;
        font-style: $fontStyle;
    }
}

// Add Jost fonts
@include font-face-jost($JostFontFamily, 'jost-extralight', 200, normal);
@include font-face-jost($JostFontFamily, 'jost-light', 300, normal);
@include font-face-jost($JostFontFamily, 'jost-regular', 400, normal);
@include font-face-jost($JostFontFamily, 'jost-medium', 500, normal);
@include font-face-jost($JostFontFamily, 'jost-semibold', 600, normal);
@include font-face-jost($JostFontFamily, 'jost-bold', 700, normal);

$RobotoFontPath: '../fonts/Roboto';
$RobotoFontFamily: 'Roboto';
$RobotoFontVersion: 2.0;

// Mixin
@mixin font-face-roboto($fontFamily, $fileName, $fontWeight, $fontStyle, $fontPath: $RobotoFontPath) {
    @font-face {
        font-family: $fontFamily;
        font-display: swap;
        src: url('#{$fontPath}/#{$fileName}.eot');
        src: local('^'),
        url('#{$fontPath}/#{$fileName}.eot?#iefix') format('embedded-opentype'),
        url('#{$fontPath}/#{$fileName}.woff2?v=#{$RobotoFontVersion}') format('woff2'),
        url('#{$fontPath}/#{$fileName}.woff?v=#{$RobotoFontVersion}') format('woff'),
        url('#{$fontPath}/#{$fileName}.ttf?v=#{$RobotoFontVersion}') format('truetype');
        font-weight: $fontWeight;
        font-style: $fontStyle;
    }
}

// Add Roboto Fonts
@include font-face-roboto($RobotoFontFamily, 'roboto-light', 300, normal);
@include font-face-roboto($RobotoFontFamily, 'roboto-lightitalic', 300, italic);
@include font-face-roboto($RobotoFontFamily, 'roboto-regular', 400, normal);
@include font-face-roboto($RobotoFontFamily, 'roboto-regular', 400, italic);
@include font-face-roboto($RobotoFontFamily, 'roboto-medium', 500, normal);
@include font-face-roboto($RobotoFontFamily, 'roboto-bold', 700, normal);