.header {
    display: block;
    position: fixed;
    z-index: 9990;
    width: 100%;
    background-color: #1B1B1B;
}

.container_header_1 {
    display: block;
    height: 62px;
    border-bottom: 1px solid #fff;
}

.container_header_2 {
    display: block;
    height: 62px;
}

.header_1_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 1400px;
    margin: 0 auto;
}

.header_2_wrapper {
    display: block;
    height: 100%;
    width: 1400px;
    margin: 0 auto;
}

.header_1_social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.funnycoon_header_icons {
    display: block;
    margin-right: 20px;
    &.telegram {
        background-image: url('../img/icons/telegram.svg');
        background-repeat: no-repeat;
        background-position: center center;
        height: 22px;
        width: 25px;
    }
    &.vk {
        background-image: url('../img/icons/vk.svg');
        background-repeat: no-repeat;
        background-position: center center;
        height: 17px;
        width: 28px;
    }
    &.search {
        background-image: url('../img/icons/search.svg');
        background-repeat: no-repeat;
        background-position: center center;
        height: 21px;
        width: 22px;
    }
    &.login {
        margin-right: 10px;
        background-image: url('../img/icons/login.svg');
        background-repeat: no-repeat;
        background-position: center center;
        height: 24px;
        width: 18px;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo_link {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.header_1_login_search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    color: #fff;
}

.header_2_nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 62px;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.menu-item {
    display: flex;
    align-items: center;
    height: 62px;
    margin-left: 10px;
    margin-right: 20px;
    & a {
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        text-decoration: none;
        color: #fff;
    }
}

.sub-menu {
    display: none;
    position: absolute;
    z-index: 9998;
    top: 100%;
    background-color: #1B1B1B;
    border-top: 1px solid #fff;
    white-space: nowrap;
    & > .menu-item {
        padding: 20px;
    }
}

.menu-item-has-children::after {
    content: ' ';
    display: inline-block;
    background-image: url('../img/icons/arrow-bottom.svg');
    background-repeat: no-repeat;
    background-position: center center; 
    margin-left: 3px;
    height: 7px;
    width: 11px;
    transition: transform 0.5s ease;
}

.menu-item-has-children:hover {
    color: #123;
    &::after {
        transform: rotate(90deg);
    }
}

.nav_menu .menu-item-has-children:hover > .sub-menu {
    display: block;
}

// Avatar and profile menu

.profile_info {
    display: block;
    height: 100%;
}

.profile_wrp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 61px;
    text-decoration: none;
    min-width: 180px;
    &:hover + .profile_menu {
        visibility: visible;
        opacity: 1;
    }
}


.profile_avatar {
    display: block;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 11px;
}

.profile_nickname {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-right: 7px;
    text-decoration: none;
}

.profile_arrow {
    display: block;
}

.profile_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    &:hover {
        visibility: visible;
        opacity: 1;
    }
}

.profile_menu_link {
    display: inline-flex;
    align-items: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    height: 36px;
    background-color: #262626;
    padding-left: 22px;
    &:first-child {
        border-top: 3px solid #D3355B;
    }
    &:hover {
        color: #D3355B;
        background-color: #161515;
    }
}