.main_hot {
    display: inline-block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: var(--main-hot-background-color);
}

.hot_title {
    margin-left: 17px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: var(--hot-title-color);
}

.hot_tags {
    margin-left: 17px;
}

.hot_tag {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--hot-tag-text-color);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 3px;
    transition: color 0.3s ease;

    &:hover {
        color: var(--hot-tag-hover-text-color);
    }
}