.body {
    background-color: var(--body-color);
}

.body.lock {
  overflow: hidden;
}

.funnycoon_main {
    display: block;
    position: relative;
    width: 1400px;
    margin: 0 auto;
    scroll-margin-top: 150px;
    padding-top: 309px;
    z-index: 1;
}

.funnycoon_main_wrapper {
    display: block;
    background-color: var(--main-wrapper);
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0 0;
}


// Scrollbar style

#body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px var(--body-webkit-shadow);
  border-radius: 10px;
  background-color: var(--body-webkit-scrollbar-track);
}

#body::-webkit-scrollbar
{
  width: 12px;
  background-color: var(--body-webkit-scrollbar);
}

#body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--body-webkit-scrollbar-thumb-shadow);
  background-color: var(--body-webkit-scrollbar-thumb);
}
