// z-index: 2+

.main_slider {
    display: grid;
    grid-template-columns: 700px 350px 350px;
    grid-template-rows: 225px 225px;
    width: 100%;
    height: 450px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.slide:first-child {
    display: block;
    max-width: 700px;
    max-height: 450px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    & > .slide-image {
        width: 700px;
        height: 450px;
        object-fit: cover;
    }

    & > .slider_gradient {
        display: block;
        position: absolute;
        z-index: 2;
        width: 700px;
        height: 450px;
        background: radial-gradient(100.4% 100.4% at 50% 50%, var(--slider-gradient-first-color) 0,var(--slider-gradient-second-color) 100%);
    }

    &:hover > .slider_gradient {
        background: radial-gradient(100.4% 100.4% at 50% 50%, var(--slider-gradient-hover-first-color) 0, var(--slider-gradient-hover-second-color) 100%);
    }

    & > .slider_link {
        display: block;
        position: absolute;
        z-index: 4;
        width: 700px;
        height: 450px;
    }

    & > .slider_link > .slide_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        z-index: 3;
        width: 700px;
        height: 450px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;

        & > .slider_post_info_wr {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 30px;

            & > .slider_post_title {
                font-family: 'Jost', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 43px;
                color: var(--slider-post-title-color);
                padding-left: 32px;
            }

            & > .slider_post_info {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: var(--slider-post-info-color);
                padding-left: 32px;
            }
        } 
    }
}

.slide {
    display: block;
    max-width: 350px;
    max-height: 225px;

    & > .slide-image {
        width: 350px;
        height: 225px;
        object-fit: cover;
    }

    & > .slider_gradient {
        display: block;
        position: absolute;
        z-index: 2;
        width: 350px;
        height: 225px;
        background: radial-gradient(100.4% 100.4% at 50% 50%,var(--slider-gradient-first-color) 0,var(--slider-gradient-second-color) 100%);
    }

    &:hover > .slider_gradient {
        background: radial-gradient(100.4% 100.4% at 50% 50%, var(--slider-gradient-hover-first-color) 0, var(--slider-gradient-hover-second-color) 100%);
    }

    & > .slider_link {
        display: block;
        position: absolute;
        z-index: 4;
        width: 350px;
        height: 225px;
        &:hover > .slide_info > .slider_post_info_wr > .slider_post_title {
            color: var(--slider-link-hover-color);
        }
    }

    & > .slider_link > .slide_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        z-index: 3;
        width: 350px;
        height: 225px;

        & > .slide_post_category {
            font-size: 14px;
            line-height: 20px;
            padding: 3px 5px;
        }

        & > .slider_post_info_wr {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 15px;

            & > .slider_post_title {
                font-family: 'Jost', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 84.5%;
                color: var(--slider-post-title-color);
                padding-left: 32px;
            }

            & > .slider_post_info {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: var(--slider-post-info-color);
                padding-left: 32px;
                margin-top: 5px;
            }
        } 
    }

}

.slide:nth-child(3) {
    border-radius: 0px 0px 0px 5px;
    overflow: hidden;
} 

.slide_post_category_wr {
    display: block;
}

.slide_post_category {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slider-post-category-background-color);
    padding: 3px 10px;
    border-radius: 0px 0px 5px 0px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    color: var(--slider-post-category-text-color);
}



