.body {
    background-color: #180C1D;
}

.body.lock {
  overflow: hidden;
}

.funnycoon_main {
    display: block;
    position: relative;
    width: 1400px;
    margin: 0 auto;
    scroll-margin-top: 150px;
    padding-top: 309px;
    z-index: 1;
}

.funnycoon_main_wrapper {
    display: block;
    background-color: #1B1B1B;
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0 0;
}


// Scrollbar style

#body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #1d1d1d;
}

#body::-webkit-scrollbar
{
  width: 12px;
  background-color: #1d1d1d;
}

#body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
