// z-index: 9991

.menu_wrp {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    overflow-x: auto;
}

.mobile_nav_menu_container {
    width: 100%;
    padding: 20px 10px 10px 10px;
}

.mobileMenu {
    display: flex;
    position: fixed;
    z-index: 9991;
    width: 100%;
    height: 100%;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

.mobile_menu_open {
    visibility: visible;
    opacity: 1;
}

.mobile_body {
    overflow: hidden;
}

.mobile_memu_wrp {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100vw;
    height: 100vh;
}

.mobile-menu-item {
    display: block;
    position: relative;
    & > a {
        font-family: 'Jost';
        font-size: 27px;
        font-weight: 400;
        color: #000;
        text-decoration: none;
    }

}

.mobile-menu-item-has-children {
    & > a::after {
        content: ' ';
        position: absolute;
        top: 5px;
        right: 0;
        display: inline-block;
        background-image: url('../img/icons/arrow-bottom-mobile-menu.svg');
        background-repeat: no-repeat;
        background-position: center center; 
        height: 24px;
        width: 24px;
        transform: rotate(-90deg);
        transition: transform 0.5s ease;
    }
}

.mobile-menu-item-has-children.open {   
    & > a::after {
        transform: rotate(0deg);
    }
    & > .mobile-sub-menu {
        display: block;
        animation: sub_menu_anim ease 0.5s;

        & > .mobile-menu-item {

            border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    
            & > a {
                padding-left: 5px;
                font-family: 'Jost';
                font-size: 20px;
                font-weight: 300;
                color: #A0A0A0;
                text-decoration: none;
            }
        }

    }
}


.mobile-sub-menu {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    & > .mobile-menu-item:last-child {
        border: 0px;
    }
}

.mobile-sub-menu-open {
    display: block;
    animation: sub_menu_anim ease 0.5s;
   
    & > .mobile-menu-item {

        border-bottom: 1px solid rgba(160, 160, 160, 0.2);

        & > a {
            padding-left: 5px;
            font-family: 'Jost';
            font-size: 20px;
            font-weight: 300;
            color: #A0A0A0;
            text-decoration: none;
        }
    }

    & > .mobile-menu-item:last-child {
        border-bottom: 0px !important;
    }

}


.mobile_sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: rgba(0,0,0,0.8);
}

.menu_close {
    display: block;
    margin-top: 5px;
    font-family: 'Jost';
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    margin-right: 20px;
    margin-top: 20px;
}

@media (max-width: 1100px) {

    .header_2_nav_menu {
        display: none;
    }

    .mobile_burger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_1_social {
        display: none;
    }

}