/**
 * Mobile styling
 */

 /**
  * 1280px
  */

 @media screen and (max-width: 1280px) {

    .header_1_wrapper {
        width: 100%;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header_2_wrapper {
        width: 100%;
    }

    .funnycoon_main {
        width: 1024px;
    }

    .profile_menu {
        right: 0;
    }

    .login_info {
        display: none;
    }

    .main_slider {
        grid-template-columns: 580px 222px 222px;
        grid-template-rows: 150px 150px;
        height: 300px;
    
    }

    .slide:first-child {
        width: 580px;
        height: 300px;

        & > .slider_post_info_wr {
            width: 580px;
            height: 300px;
            padding-bottom: 20px;

            & > .slider_link {
                width: 580px;
                height: 300px;
            }

            & > .slider_post_title {
                font-size: 24px;
                line-height: 30px;
                padding-left: 20px;
            }

            & > .slider_post_info {
                font-size: 14px;
                padding-left: 20px;
            }
        }

        & > .slider_gradient {
            width: 580px;
            height: 300px;
        }

        & > .slide-image {
            width: 580px;
            height: 300px;
        }
    }

    .slide {
        width: 222px;
        height: 150px;

        & > .slider_post_info_wr {
            width: 222px;
            height: 150px;

            & > .slider_link {
                width: 222px;
                height: 150px;
            }

            & > .slider_post_title {
                font-size: 15px;
                line-height: 20px;
                padding-left: 20px;
            }

            & > .slider_post_info {
                font-size: 12px;
                padding-left: 20px;
            }
        }

        & > .slider_gradient {
            width: 222px;
            height: 150px;
        }

        & > .slide-image {
            width: 222px;
            height: 150px;
        }
    }

    .main_posts {
        display: flex;
        flex-direction: column;
        // grid-template-columns: 660px 364px;
    }

    .main_post {
        width: 305px;
        height: 250px;
        margin-right: 10px;
    }

    .main_posts_posts {
        justify-content: center;
    }

    .main_post_gradient {
        width: 305px;
        height: 250px;
    }

    .main_post_link {
        width: 305px;
        height: 250px;
    }
    
    .main_post_info_wrp {
        width: 305px;
        height: 250px;
    }

    .main_post_img {
        width: 305px;
        height: 250px;
    }

    .primary_posts {
        width: 1024px;
        height: 550px;
    }

    .primary_posts_wrp {
        grid-template-columns: 560px 210px 210px;
        grid-column-gap: 14px;
        grid-row-gap: 2px;
        height: 340px;
    }

    .primary_posts_title_wrp {
        margin-bottom: 0px;
    }

    .primary_posts_slide:first-child {
        width: 560px;
        height: 340px;

        & > .pps_info {
            width: 560px;
            height: 340px;
        }

        & > .pps_gradient {
            width: 560px;
            height: 340px;
        }

        & > .pps_img {
            width: 560px;
            height: 340px;
        }
    }

    .primary_posts_slide {
        width: 210px;
        height: 158px;

        & > .pps_info {
            width: 210px;
            height: 158px;
        }

        & > .pps_gradient {
            width: 210px;
            height: 158px;
        }

        & > .pps_img {
            width: 210px;
            height: 158px;
        }
    }
    

    .tops_reviews_adv_wrp {
        justify-content: flex-start;
        margin-left: 5px;
    }

   .tops_reviews {
        grid-template-columns: 660px 364px;
    }

    .tops_reviews_wrp {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .tops_sidebar {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .title_and_buttons {
        padding-right: 5px;
    }

   .footer {
        width: 1024px;
    }

    // Other pages

    .archive_wrapper {
        display: flex;
        flex-direction: column;
    }

    .single_wrapper {
        display: flex;
        flex-direction: column;
    }

    .main_posts_sidebar_popular_posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .mps_post_card_info {
        max-width: 500px;
    }

    .mps_post_card_info {
        margin-top: 10px;
    }

    .main_posts_sidebar_adv_wrp {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .tops_posts_wrp {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tops_posts_card {
        justify-self: center;
    }

    .page_wrapper {
        display: flex;
        flex-direction: column;
    }

    // Account setting page

    .profile_edit_page_wrp {
        grid-template-columns: 1fr;
    }

    .profile_form {
        padding-right: 39px;
    }
}

/*
 * 1080px
 */

@media screen and (max-width: 1080px) {

    .funnycoon_main {
        width: 100%;
    }

    .main_slider {
       display: none;
    }

    .primary_posts {
        width: 100%;
        height: 100%;
    }

    .primary_posts_wrp {
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 20px 0px 20px 0px;
    }

    .primary_posts_slide {
        width: 560px;
        height: 340px;
        margin-bottom: 10px;
        & > .pps_info {
            width: 560px;
            height: 340px;
        
            & > .pps_title_wrp {
                & > .pps_title {
                    margin-left: 22px;
                    margin-bottom: 12px;
                    font-family: "Jost";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 37px;
                    color: var(--pps-title-color);
                }
            }
            
        }
        & > .pps_gradient {
            width: 560px;
            height: 340px;
        }
        & > .pps_img {
            width: 560px;
            height: 340px;
        }
    }

    .reviews {
        display: flex;
        flex-direction: column;
    }

    .reviews_slider {
        height: 100%;
        grid-template-columns: 332px 332px;
    }

    .reviews_slide:last-child {
        display: none;
    }

    .tops {
        display: flex;
        flex-direction: column;
    }

    .tops_reviews {
        grid-template-columns: 1fr;
    }

    .tops_slider {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .tops_slide {
        margin: 0 auto;
    }

    .single_preview_gradient {
        width: 100%;
    }

    .archive_posts_wrp {
       padding: 20px;
    }

    .archive_post_wrp {
        width: 100%;
    }

    .prev_post_wrp {
        width: 100%;
        margin: 5px;
    }

    .next_post_wrp {
        width: 100%;
        margin: 5px;
    }

    .menu-item {
        & > a {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .copyright {
        font-size: 18px;
    }

    .copyright_text {
        font-size: 16px;
    }

    .footer {
        width: 100%;
    }

    .footer_2_copyright {
        width: 100%;
    }
}

/**
 * 848px
 */

@media (max-width: 848px) {

    .hot_title {
        font-size: 18px;
    }

    .hot_tag {
        font-size: 14px;
    }

    .archive_post_title {
        font-size: 21px;
    }

    .archive_post_img {
        width: 300px;
        height: 200px;
    }

    .archive_post_description {
        font-size: 16px;
    }

    .archive_post_date {
        font-size: 13px;
    }

    .archive_post_comment_count {
        font-size: 13px;
        &::before {

        }
    }

    .menu-item {
        & > a {
            font-size: 14px;
            line-height: 15px;
        }
    }

    .single_tags_wrp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .single_tag {

        margin-bottom: 5px;

        & a {
            font-size: 11px;
        }

    }

    // Comments

    .depth-2 {
        padding-left: 45px;
    }
    
    .depth-3 {
        padding-left: 50px;
    }
    
    .depth-4 {
        padding-left: 50px;
    }

    // Copyright

    .copyright {
        font-size: 16px;
    }

    .copyright_text {
        font-size: 14px;
    }
}

/**
 * 700px
 */

@media screen and (max-width: 700px) {

    .profile_nickname {
        display: none;
    }

    .hot_title {
        font-size: 15px;
    }

    .hot_tag {
        font-size: 11px;
    }

    .main_posts_posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main_post {
        justify-self: center;
    }

    .main_posts_sidebar_popular_posts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mps_post_card {
        max-width: 500px;
    }

    .single_tag a {
        font-size: 11px;
    }

    .tops_posts_wrp {
        grid-template-columns: 1fr;
    }

    .container_footer_1 {
        flex-direction: column;
        align-items: center;
    }

    .footer_1_left {
        margin-left: 0px;
    }

    .footer_1_right {
        margin-right: 0px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 690px) {

    .reviews_slider {
        grid-template-columns: 250px 250px;
        grid-template-rows: 180px 180px;
    }

    .reviews_slide:first-child {
        width: 510px;
        height: 375px;
        & > .reviews_slide_link {
            width: 510px;
            height: 375px;
            & > .reviews_slide_info {
                & > .reviews_slide_title {
                    padding-left: 13px;
                }
                & > .reviews_slide_time_comments {
                    padding-left: 13px;
                }
            }
            & > .reviews_slide_gradient {
                width: 510px;
                height: 375px;
            }
        }
        & > .reviews_slide_img {
            width: 510px;
            height: 375px;
        }
    }

    .reviews_slide {
        width: 250px;
        height: 180px;
        & > .reviews_slide_link {
            width: 250px;
            height: 180px;
            & > .reviews_slide_info {
                & > .reviews_slide_title {
                    padding-left: 13px;
                }
                & > .reviews_slide_time_comments {
                    padding-left: 13px;
                }
            }
            & > .reviews_slide_gradient {
                width: 250px;
                height: 180px;
            }
        }
        & > .reviews_slide_img {
            width: 250px;
            height: 180px;
        }
    }
}

@media screen and (max-width: 670px) {

    .menu-item {
        & > a {
            font-size: 13px;
        }
    }

    .archive_post_wrp {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .archive_post_author {
        margin: 10px 0px 10px 0px;
    }

    .archive_post_description {
        margin: 10px 0px 10px 0px;
    }

    .prev_post_link a {
        font-size: 17px;
    }

    .prev_post_wrp {
        width: 100%;
        margin: 5px;
    }

    .next_post_wrp {
        width: 100%;
        margin: 5px;
    }

    .next_post_wrp a {
        font-size: 17px;
    }

    .copyright {
        font-size: 13px;
    }

    .copyright_text {
        font-size: 10px;
    }

}

@media screen and (max-width: 630px) {
    .main_posts_posts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {

    // Fix for wp admin panel

    #wpadminbar {
        position: fixed;
    }    

    .single_post_title {
        font-size: 29px;
        line-height: 47px;
    }

    .tops_reviews_adv_wrp {
        display: none;
    }

    .copyright_text {
        display: none;
    }

}

@media screen and (max-width: 570px) {

    .popup_forget_ps_reg {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .login_link {
        margin-left: 25px;
        &::before {
            top: 19px;
            left: 0;
        }
    }

    .primary_posts_slide:first-child {
        width: 480px;
        height: 286px;
        & > .pps_info {
            width: 480px;
            height: 286px;
            & > .pps_title_wrp {
                & > .pps_title {
                    font-size: 25px;
                }
            }
        }
        & > .pps_gradient {
            width: 480px;
            height: 286px;
        }
        & > .pps_img {
            width: 480px;
            height: 286px;
        }
    }

    .primary_posts_slide {
        width: 480px;
        height: 286px;
        & > .pps_info {
            width: 480px;
            height: 286px;
            & > .pps_title_wrp {
                & > .pps_title {
                    font-size: 25px;
                }
            }
        }
        & > .pps_gradient {
            width: 480px;
            height: 286px;
        }
        & > .pps_img {
            width: 480px;
            height: 286px;
        }
    }

    .tops_slider {
        grid-template-rows: 1fr;
    }

    .tops_slide {
        width: 450px;
        height: 266px;
        & > .tops_slide_link {
            width: 450px;
            height: 266px;
            & > .tops_slide_gradient {
                width: 450px;
                height: 266px;
            }
        }
        & > .tops_slide_img {
            width: 450px;
            height: 266px;
        }
    }

    // Commets

    .comment-body {
        margin-bottom: 23px;
    }

    .comment_author_avatar_wrp {
        padding-left: 18px;
        padding-right: 18px;
    }

    .comment-text {
        margin-top: 10px;
        & p {
            font-size: 17px;
            line-height: 19px;
        }
    }

    .commet-reply {
        & a {
            line-height: 1;
            font-size: 14px;
            margin-top: 12px;
        }
    }

    .depth-2 {
        padding-left: 42px;
    }
    
    .depth-3 {
        padding-left: 47px;
    }
    
    .depth-4 {
        padding-left: 25px;
    }

    .comment-respond {
        margin-right: 30px;
    }

    .comment-reply-title {
        font-size: 17px;
    }

    .logged-in-as {
        margin-top: 9px;
    }

    .comment-form-comment {
        margin-top: 15px;
        & label {
            font-size: 16px;
        }
        & textarea {
            font-size: 15px;
            line-height: 20px;
        }
    }

    .submit {
        font-size: 15px;
        line-height: 1;
    }

}

@media screen and (max-width: 520px) {

    .footer_1_right {
        display: none;
    }

    .rars {
        display: none;
    }

    .menu-item {
        & > a {
            font-size: 9px;
        }
    }

    .copyright {
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {

    .primary_posts_slide:first-child {
        width: 380px;
        height: 214px;
        & > .pps_info {
            width: 380px;
            height: 214px;
            & > .pps_title_wrp {
                & > .pps_title {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
        & > .pps_gradient {
            width: 380px;
            height: 214px;
        }
        & > .pps_img {
            width: 380px;
            height: 214px;
        }
    }

    .primary_posts_slide {
        width: 380px;
        height: 214px;
        & > .pps_info {
            width: 380px;
            height: 214px;
            & > .pps_title_wrp {
                & > .pps_title {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
        & > .pps_gradient {
            width: 380px;
            height: 214px;
        }
        & > .pps_img {
            width: 380px;
            height: 214px;
        }
    }

    .reviews_slider {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .reviews_slide:first-child {
        width: 380px;
        height: 214px;
        & > .reviews_slide_link {
            width: 380px;
            height: 214px;
            & > .reviews_slide_gradient {
                width: 380px;
                height: 214px;
            }
        }
        & > .reviews_slide_img {
            width: 380px;
            height: 214px;
        }
    }

    .reviews_slide {
        width: 380px;
        height: 214px;
        & > .reviews_slide_link {
            width: 380px;
            height: 214px;
            & > .reviews_slide_gradient {
                width: 380px;
                height: 214px;
            }
        }
        & > .reviews_slide_img {
            width: 380px;
            height: 214px;
        }
    }

    .tops_slider {
        grid-template-rows: 1fr;
    }

    .tops_slide {
        width: 380px;
        height: 214px;
        & > .tops_slide_link {
            width: 380px;
        height: 214px;
            & > .tops_slide_gradient {
                width: 380px;
                height: 214px;
            }
        }
        & > .tops_slide_img {
            width: 380px;
            height: 214px;
        }
    }

    .footer_2_left {
        margin-left: 35px;
    }

}