.popup {
    position: fixed;
    z-index: 9995;
    width: 100%;
    height: 100%;
    background-color: var(--popup-background-color);
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.popup.open {
    visibility: visible;
    opacity: 1;
}


.popup_body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    background-color: var(--popup-content-background-color);
    color: var(--popup-content-text-color);
    width: 420px;
    height: auto;
    border-radius: 5px;
    padding: 9px;
    position: relative;
}

.popup_close svg {
    position: absolute;
    left: 400px;
}

.popup_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.popup_title {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    margin-top: 24px;
    color: var(--popup-title-color);
}

.popup_subtitle {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: var(--popup-subtitle-color);
    margin-top: 3px;
}

.form-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--form-message-color);
    margin-top: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--form-message-border-color);
    background-color: var(--form-message-background-color); 
    width: 300px;
    text-align: center;
    opacity: 0;
}

.error {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--error-color);
}

.input_field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 26px;
}

.remember_me {
    margin-top: 0px;
    flex-direction: row;
    justify-content: flex-start;
}

.remember_me_label {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
}

.submit_input {
    margin-top: 24px;
}

.popup_input {
    display: inline-block;
    background: var(--popup-input-background);
    border: 1px solid var(--popup-input-border-color);
    border-radius: 5px;
    padding: 7px 14px;
    height: 45px;
    outline: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 12px;
    width: 300px;
    max-width: 300px;
    box-shadow: none;
    height: 48px;
    text-align: center;
    &::placeholder {
        color: var(--popup-input-placeholder-color);
    }
}

.login_button, .register_button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    gap: 10px;
    width: 300px;
    height: 55px;
    background-color: var(--buttons-background-color);
    border: 1px solid var(--buttons-border-color);
    border-radius: 5px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: var(--buttons-text-color);
    transition: .3s ease;
    &:hover {
        background-color: var(--buttons-hover-background-color);
        border: 1px solid var(--buttons-hover-border-color);
    }
}

.popup_forget_ps_reg {
    display: inline-flex;
    justify-content: space-between;
    width: 300px;
    position: relative;
    margin-top: 26px;
}

.forget_password_link {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--forget-password-link-color);
    text-decoration: none;
}

.register_link {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--register-link-color);
    text-decoration: none;
    &::before {
        content: " ";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -2px;
        left: 147px;
        background-image: url("../img/icons/login-icon-popup.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.register_link_forget {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-left: 25px;
    color: var(--register-link-forget-color);
    text-decoration: none;
    &::before {
        content: " ";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -2px;
        left: 0px;
        background-image: url("../img/icons/login-icon-popup.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.popup_login {
    display: inline-flex;
    justify-content: flex-end;
    width: 300px;
    margin-top: 26px;
    position: relative;
}

.login_link {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--login-link-color);
    text-decoration: none;
    &::before {
        content: " ";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -2px;
        left: 179px;
        background-image: url("../img/icons/login-icon-popup.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
}