// z-index: 20+;

.primary_posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 1374px;
    height: 595px;
    background: #C2DFE3;
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    margin: 0 auto;
    margin-top: 41px;
}

.primary_posts_title_wrp {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    margin-top: 21px;
    margin-left: 22px;
    margin-bottom: 29px;
}

.primary_posts_title {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}

.primary_posts_wrp {
    display: grid;
    grid-template-columns: 720px 286px 286px;
    grid-column-gap: 21px;
    grid-template-rows: 180px 180px;
    grid-row-gap: 20px;
    height: 380px;
    margin: 0 auto;
}

.primary_posts_slide:first-child {
    display: flex;
    width: 720px;
    height: 380px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 5px;
    overflow: hidden;

    & > .pps_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 21;
        width: 720px;
        height: 380px;
        border-radius: 5px;
        overflow: hidden;
        text-decoration: none;

        & > .pps_category_wrp {
            display: inline-flex;
            width: 100%;
            justify-content: flex-start;
        }

        & > .pps_title_wrp {
            display: flex;
            width: 100%;
            & > .pps_title {
                margin-left: 22px;
                margin-bottom: 12px;
                font-family: 'Jost';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 37px;
                color: #fff;
            }
        }
    }

    & > .pps_img {
        width: 720px;
        height: 380px;
        object-fit: cover;
        border: 1px solid #1B1B1B;
    }
    & > .pps_gradient {
        display: block;
        position: absolute;
        z-index: 20;
        width: 720px;
        height: 380px;
        border-radius: 5px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    
}

.primary_posts_slide {
    display: flex;
    width: 286px;
    height: 180px;
    border-radius: 5px;
    overflow: hidden;

    & > .pps_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 21;
        width: 286px;
        height: 180px;
        border-radius: 5px;
        overflow: hidden;
        text-decoration: none;

        & > .pps_category_wrp {
            display: inline-flex;
            width: 100%;
            justify-content: flex-start;
        }

        & > .pps_title_wrp {
            display: flex;
            width: 100%;
            & > .pps_title {
                margin-left: 7px;
                margin-bottom: 14px;
                font-family: 'Jost';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 84.5%;
                color: #fff;
            }
        }
    }

    & > .pps_info:hover {
        & > .pps_title_wrp {
            & > .pps_title {
                color: #D3355B;
            }
        }
    }

    & > .pps_img {
        width: 286px;
        height: 180px;
        object-fit: cover;
        border: 1px solid #1B1B1B;
    }
    & > .pps_gradient {
        display: block;
        position: absolute;
        z-index: 20;
        width: 286px;
        height: 180px;
        border-radius: 5px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
}

.pps_category {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #D3355B;
    padding: 3px 10px;
    border-radius: 0px 0px 5px 0px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    border-top: 1px solid #1B1B1B;
    border-left: 1px solid #1B1B1B;
    text-transform: uppercase;
    color: #FFFFFF;
}


.primary_posts_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #4F4F4F;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    color: #1B1B1B;
    &:hover {
        border-radius: 0px 0px 5px 5px;
        background: linear-gradient(0deg, rgb(142, 234, 247) 0%, rgba(194,223,227,1) 100%);
    }
}
