.sce-comment {
    display: block;
    margin-top: 19px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--comment-text-p-color);
}

.sce-edit-button-main {
    font-family: 'Jost';
    font-size: 17px;
    line-height: 1;
    text-decoration: none;
    color: var(--sce-editing-link-color);
}

.sce-seperator {
    font-family: 'Jost';
    font-size: 17px;
    line-height: 1;
    text-decoration: none;
    color: var(--sce-separator-color);
}

.sce-timer {
    font-family: 'Jost';
    font-size: 17px;
    line-height: 1;
    text-decoration: none;
    color: var(--sce-timer-color);
}

.sce-comment-text {
    outline: none;
    -moz-appearance: none;
    overflow: auto;
    line-height: 1;
    background-color: var(--comment-form-comment-textarea-background-color);
    border: 1px solid var(--comment-form-comment-textarea-border-color);
    border-radius: 5px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--comment-form-comment-textarea-text-color);
    padding: 18px;
    margin-bottom: 5px;
    min-width: 750px;
    &:hover {
        border: 1px solid var(--comment-form-comment-textarea-hover-border-color);
    }
}

.sce-comment-edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    & > .sce-timer {
        display: block !important;
        font-family: 'Jost' !important;
        font-weight: 400;
        font-style: italic;
        font-size: 20px !important;
        line-height: 1;
        margin-left: 10px;
    }
}

.sce-comment-save {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background: var(--submit-background);
    border-radius: 5px;
    border: 0px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 103.19%;
    text-transform: uppercase;
    color: var(--submit-color);
}

.sce-comment-cancel {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background: var(--submit-background);
    border-radius: 5px;
    border: 0px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 103.19%;
    text-transform: uppercase;
    color: var(--submit-color);
}

.sce-comment-delete {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background: var(--submit-background);
    border-radius: 5px;
    border: 0px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 103.19%;
    text-transform: uppercase;
    color: var(--submit-color);
}

// Scroll bar fix

.sce-comment-text::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px var(--body-webkit-shadow);
  border-radius: 10px;
  background-color: var(--body-webkit-scrollbar-track);
}

.sce-comment-text::-webkit-scrollbar
{
  width: 12px;
  background-color: var(--body-webkit-scrollbar);
}

.sce-comment-text::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--body-webkit-scrollbar-thumb-shadow);
  background-color: var(--body-webkit-scrollbar-thumb);
}

.sce-comment-text::-webkit-resizer {
    background-color: var(--comment-form-comment-textarea-background-color);
}