/**
 * z-index: 50+;
 */


.single_wrapper {
    display: grid;
    grid-template-columns: 1fr 364px;
}

.single_post_wrp {
    display: block;
}

.single_sidebar {
    display: block;
}

.single_preview_wrp {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}

.single_preview_gradient {
    display: block;
    position: absolute;
    z-index: 50;
    width: 1035px;
    height: 360px;
    background: linear-gradient(180deg, var(--single-preview-gradient-first-color) 0%, var(--single-preview-gradient-second-color) 100%),
}

.single_preview_img {
    display: block;
    width: 1035px;
    height: 360px;
    object-fit: cover;
}

.single_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 212px;
    background-color: var(--single-info-background-color);
}

.single_breadcrumbs {
    display: inline-flex;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--single-breadcrumbs-color);
    margin-top: 35px;
    margin-left: 22px;
    & a {
        color: var(--single-breadcrumbs-a-color);
        text-decoration: none;
    }
    & a:last-child {
        color: var(--single-breadcrumbs-a-last-child-color);
    }
}

.single_title {
    display: inline-flex;
}

.single_post_title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
    color: var(--single-post-title-color);
    margin-top: 22px;
    margin-left: 22px;
}

.single_author_wrp {
    display: inline-flex;
    align-items: center;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--single-author-wrp-color);
    margin-top: 17px;
    margin-bottom: 15px;
    padding-left: 22px;
    & a {
        text-decoration: none;
        color: var(--single-author-a-color);
    }
}

.single_author_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.single_author_nickname {
    text-decoration: none;
    color: var(--single-author-nickname-color);
}

// Styling post content

.single_post_content {
    display: block;
    color: var(--single-post-content-color);
    & > p {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 21px;
        padding-right: 11px;

        & > a {
            color: var(--single-post-content-a-color);
            text-decoration: none;
        }
    }

    & > h1 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-size: 35px;
        line-height: 26px;
        padding-left: 21px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    & > h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-size: 33px;
        line-height: 26px;
        padding-left: 21px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    & > h3 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-size: 30px;
        line-height: 26px;
        padding-left: 21px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    & > h4 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-size: 27px;
        line-height: 26px;
        padding-left: 21px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    & > h5 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-size: 25px;
        line-height: 26px;
        padding-left: 21px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    & > h6 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-size: 24px;
        line-height: 26px;
        padding-left: 21px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    & > ul {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        padding-left: 70px;
        & > li {
            & > a {
                text-decoration: none;
                color: var(--single-post-content-ul-li-a-color);
            }
        }
    }

    & > ol {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        padding-left: 70px;
    }

    

    & > .cat-item {
        & > a {
            text-decoration: none;
            color: var(--cat-item-a-color);
        }
    }
    

    & > .wp-block-embed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        & > figcaption {
            display: inline-flex;
            justify-content: center;
            width: 100%;
            margin-top: 10px;
            font-family: 'Segoe UI';
            font-style: italic;
            font-weight: 300;
            font-size: 20px;
            line-height: 26px;
        }
    }

    & > .wp-block-embed-youtube {
        & iframe {
            width: 750px;
            height: 422px;
        }
    }

    & > blockquote {
        & > p {
            font-family: 'Segoe UI';
            font-style: italic;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            padding-left: 70px;
        }
        & > cite {
            display: flex;
            justify-content: flex-end;
            font-family: 'Segoe UI';
            font-style: italic;
            font-weight: 300;
            line-height: 26px;
            padding-left: 70px;
        }
    }

    & > .wp-block-pullquote {
        & > blockquote {
            & > p {
                font-family: 'Segoe UI';
                font-style: italic;
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                padding-left: 70px;
            }
            & > cite {
                display: flex;
                justify-content: center;
                font-family: 'Segoe UI';
                font-style: italic;
                font-weight: 300;
                line-height: 26px;
                padding-left: 70px;
            }
        }
    }

    & > .wp-block-image, .wp-block-image.size-full {
        display: flex !important; 
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        & > img {
            border-radius: 5px !important;
        }

        & > figcaption {
            font-family: 'Segoe UI';
            font-style: italic;
            font-weight: 300;
            font-size: 20px;
            line-height: 26px;
        }
    }

    & > .wp-block-table {
        & > table > tbody > tr > td {
            border: 1px solid var(--wp-block-table-border-color);
        }
        & > figcaption {
            display: inline-flex;
            justify-content: center;
            width: 100%;
            margin-top: 10px;
            font-family: 'Segoe UI';
            font-style: italic;
            font-weight: 300;
            font-size: 20px;
            line-height: 26px;
        }
    }
}

// Tags

.single_tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 21px;
    padding-top: 23px;
}

.single_tag_title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 127.51%;
    color: var(--single-tag-title-color);
}

.single_tags_wrp {
    display: inline-flex;
    justify-content: space-around;
    margin-left: 13px;
}

.single_tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background: #444444;
    border-radius: 5px;
    margin-right: 10px;
    & a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 127.51%;
        text-transform: uppercase;
        color: var(--single-tag-a-color);
        text-decoration: none;
        &:hover {
            color: var(--single-tag-a-hover-color);
        }
    }
}

// Previous and next posts

.single_prev_next_post_wrp {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.prev_post_wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 478px;
    height: 148px;
    background: var(--prev-post-wrp-background);
    border-radius: 5px;
}

.prev_post_title {
    display: block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: var(--prev-post-title-color);
    padding-left: 13px;
    margin-bottom: 13px;
}

.prev_post_link {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 75px;
    width: 100%;
    padding-left: 13px;
    & a {
        display: block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 104.51%;
        color: var(--prev-post-link-a-color);
        padding-left: 13px;
        text-decoration: none;
    }
    & a:hover {
        color: var(--prev-post-link-a-hover-color);
    }
}

.prev_next_post_figure {
    display: block;
    width: 15px;
    height: 100%;
    background: var(--prev-next-post-figure-background);
    border-radius: 5px;
}

.next_post_wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 478px;
    height: 148px;
    background: var(--next-post-wrp-background);
    border-radius: 5px;
}

.next_post_title {
    display: block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: var(--next-post-title-color);
    padding-left: 13px;
    margin-bottom: 13px;
}

.next_post_link {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 75px;
    width: 100%;
    padding-left: 13px;
    & a {
        display: block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 104.51%;
        color: var(--next-post-link-a-color);
        padding-left: 13px;
        text-decoration: none;
    }
    & a:hover {
        color: var(--next-post-link-a-hover-color);
    }
}

// Comments 

.post_comments_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}

.post_comments_title {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--post-comments-title-color);
    text-transform: uppercase;
    padding-left: 22px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.comments-wrp {
    display: block;
}

.comment-body {
    display: inline-flex;
    justify-content: flex-start;
    margin-bottom: 34px;
}

.comment_author_avatar_wrp {
    display: flex;
    height: 100%;
    padding-left: 25px;
    padding-right: 22px;
    & > img {
        display: block;
        width: 42px;
        height: 42px;
        border-radius: 50px;
        object-fit: cover;
    }
}

.comment-content {
    display: flex;
    flex-direction: column;
}

.comment_author_info {
    display: inline-flex;
    align-items: center;
}

.comment_author_fn {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 103.19%;
    color: var(--comment-author-fn-color);
    text-decoration: none;
    margin-right: 10px;
}

.comment_time {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 103.19%;
    color: var(--comment-time-color);
    text-decoration: none;
    position: relative;
    margin-left: 20px;
    &:before {
        content: '';
        position: absolute;
        background-image: url('../img/icons/comment-time-icon.svg');
        background-position: center center;
        background-repeat: no-repeat;
        top: 0;
        left: -20px;
        width: 13px;
        height: 13px;
    }
}

.comment-edit-link {
    margin-left: 5px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 103.19%;
    color: var(--comment-edit-link-color);
    text-decoration: none;
}

.comment-text {
    display: block;
    margin-top: 19px;
    & p {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 103.19%;
        color: var(--comment-text-p-color);
    }
}

.comment-awaiting-moderation {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 103.19%;
    color: var(--comment-awaiting-moderation-color);
}

.depth-2 {
    padding-left: 92px;
}

.depth-3 {
    padding-left: 138px;
}

.depth-4 {
    padding-left: 92px * 2;
}

.comment-reply a {
    display: block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 103.19%;
    color: var(--comment-reply-a-color);
    position: relative;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
    &:before {
        content: "";
        position: absolute;
        background-image: url('../img/icons/comment-answer-icon.svg');
        background-position: center center;
        background-repeat: no-repeat;
        top: 0;
        left: -20px;
        width: 15px;
        height: 15px;
    }
}

.comment-hr {
    display: block;
    width: 1000px;
    height: 0px;
    border: 1px solid var(--comment-hr-border-color);
}

.comment-reply-title {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 103.19%;
    margin-bottom: 5px;
    color: var(--comment-reply-title-color);
}

#cancel-comment-reply-link {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 103.19%;
    color: var(--cancel-comment-reply-link-color);
    margin-left: 10px;
    text-decoration: none;
}

.logged-in-as {
    margin-top: 13px;
    & a {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 103.19%;
        color: var(--logged-in-as-a-color);
        text-decoration: none;
    }
    & span {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 103.19%;
        color: var(--logged-in-as-span-color);
    }
}

.comment-respond {
    margin-left: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.must-log-in {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 103.19%;
    color: var(--must-log-in-color);
    & > a {
        text-decoration: none;
        color: var(--must-log-in-link-color);
    }
}

.comment-form-comment {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    & label {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 103.19%;
        color: var(--comment-form-comment-label-color);
        margin-bottom: 21px;
        & span {
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 103.19%;
            color: var(--comment-form-comment-label-span-color);
        }
    }
    & textarea {
        outline: none;
        -moz-appearance: none;
        overflow: auto;
        line-height: 1;
        background-color: var(--comment-form-comment-textarea-background-color);
        border: 1px solid var(--comment-form-comment-textarea-border-color);
        border-radius: 5px;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 103.19%;
        color: var(--comment-form-comment-textarea-text-color);
        padding: 18px;
        margin-bottom: 5px;
        max-width: 980px;
        &:hover {
            border: 1px solid var(--comment-form-comment-textarea-hover-border-color);
        }
    }
}

.submit {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background: var(--submit-background);
    border-radius: 5px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 103.19%;
    text-transform: uppercase;
    color: var(--submit-color);
} 